<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @user.total_points %>
</p>

<% @user.points.each do |p| %>
  <hr>
  <p>
    <strong>Date:</strong>
    <%= I18n.l(p.received_on) %>
  </p>
  <p>
    <strong>Points:</strong>
    <%= p.value %>
  </p>
<% end %>

<hr>

<%= link_to 'Back', users_path %>
