<h1> <%= @user.name %> (<%= @user.total_points %> pontos)</h1>

<%= link_to I18n.t('defaults.back'), users_path %>

<table>
  <thead>
    <tr>
      <th><%= Point.human_attribute_name(:received_on) %></th>
      <th><%= Point.human_attribute_name(:value) %></th>
    </tr>
  </thead>

  <tbody>
    <% @user.points.each do |p| %>
      <tr>
        <td><%= I18n.l(p.received_on) %></td>
        <td><%= p.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
